@charset "utf-8";

/*about.html*/

#listbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

#listbox img {
    width: 100%;
    display: block;
}

#listbox h2 {
    font-family: 'TheJamsil5Bold';
    font-size: 2.5rem;
    font-weight: bold;
}

#listbox p {
    font-size: 1.2em;
}

