@charset "utf-8";

/*모든 페이지 공통 스타일*/

* {
    font-family: 'NanumSquareLight';
    box-sizing: border-box;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
}

@font-face {
font-family: 'TheJamsil5Bold';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
font-weight: 700;
font-style: normal;
}

/*왼쪽 고정 박스---------------------------------*/
#leftbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;

    background-image: linear-gradient(#fff, #868686);
    box-shadow: 5px 0px 10px rgb(83, 83, 83);

    padding: 1rem;
    transition: 0.3s;

    z-index: 9;

    transition: 0.3s;
}

#header {
}

#logo {
    width: 50px;

    margin-bottom: 1rem;
}

#title1 {
    font-size: 1.7rem;
    margin-bottom: 1rem;

    animation: title 5s linear both infinite;
}

#title2 {
}


@keyframes title {
    0% {color: #FF2200;}
   25% {color: #FF3C00;}
    50% {color: #FF7C00;}
    75% {color: #FFCC00;}
    100% {color: #FF2200;}
}

/*내비-----------------------*/
#navi {
    margin-top: 50px;
}

.mainlink {
    display: block;

    color: black;

    line-height: 50px;

    position: relative;

    transition: 0.3s;
}

.mainlink::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    
    width: 0%;
    height: 100%;

    background-color: black;

    transition: 0.3s ease-out;

    z-index: -1;
}

.mainlink:hover::before {
    width: 100%;
}

.mainlink:hover {
    color: white;
}

.menuicon {
    transform: translateY(6px);
    margin: 0 0.3rem;
}

#topbox {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 50px;

    background-color: white;

    box-shadow: 0 5px 10px rgb(139, 139, 139);

    z-index: 10;

    align-items: center;

    display: none;
}

#topbox:hover + #leftbox, #leftbox:hover {
    transform: translateX(0);
}

#logotop {
    height: 30px;

    margin: 0 10px;
}

#titletop {
    font-size: 1.7rem;
}

#hamburger {
    font-size: 50px;
    margin: 10px;

    cursor: pointer;

    transition: 0.3s;
}

#hamburger:hover {
    color: #FF7C00;
}

/*footer-------------------*/
#footer {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 300px;
    padding: 1rem;
}

#footer > a {
    font-size: 1.3rem;

    color: black;

    transition: 0.3s;
}

#footer>a:hover {
    color: #FF3C00;
}

#footer > p {
    margin-top: 0.5rem;
}

/*오른쪽 섹션 영역*/
#sec {
    margin-left: 300px;

    padding: 1rem;

    transition: 0.3s;
}

.sectitle {
    font-family: 'TheJamsil5Bold';
    font-size: 2.5rem;
    margin-bottom: 0.5em;
}

.smalltitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.text {
    line-height: 1.5em;
    margin-bottom: 1.5rem;
}

.get {
    background: #000;
    color: white;
    border: none;

    font-size: 1.2rem;

    padding: 1rem;
    margin-top: 30px;

    transition: 0.3s;
}

.get:hover {
    background-color: #FF7C00;
    cursor: pointer;
}

/*850px 이하 태블릿 반응형*/
@media screen and (max-width: 850px) {
    #leftbox {
        transform: translateX(-100%);

        z-index: 9;

        padding-top: 70px;
    }
    
    #sec {
        margin-left: 0 !important;

        margin-top: 50px;
    }

    #topbox {
        display: flex;
    }
}

/*450px 이하 핸드폰 반응형*/
@media screen and (max-width: 450px) {
    #listbox {
        grid-template-columns: 1fr !important;
    }
}