@charset "utf-8";

/*contact*/

#listbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.form1 {
    width: 100%;

    line-height: 40px;
    padding: 0 1rem;
    margin-bottom: 0.5rem;
    
    border: 1px solid #a7a7a7;
    outline: none;
}

.form1:focus {
    background-color: #dbdbdb;
}

.list a {
    color: #FF7C00;

    transition: 0.3s;
}

.list a:hover {
    color: rgb(59, 59, 59);
}

.icon {
    font-size: 1.5rem;
    margin-right: 1rem;
}